<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated test -->
      <package
            uri="http://data-in-motion.biz/graphql/test/1.0"
            class="org.gecko.whiteboard.graphql.emf.test.model.GraphqlTest.GraphQLTestPackage"
            genModel="model/test.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated test -->
      <parser
            type="graphqltest"
            class="org.gecko.whiteboard.graphql.emf.test.model.GraphqlTest.util.GraphQLTestResourceFactoryImpl"/>
   </extension>

</plugin>
